<div class="side col-xs-12" ng-show="menuVisible">
	<div class="right">
	   <span class="close"><i class="icon fa fa-times" ng-click="toggleMenu()"></i></span>
	   <div class="items">
	   	   <span>RESOURCES</span>
	 	   <span>EXCOS</span>
	 	   <span>BLOG</span>
	 	   <span>EVENTS</span>
	 	   <span>GALLERYt</span>
	   </div>
	   <div>
	   	   <span class="" style="display:inline-block; padding:1.5em 2em">
	 	  <button class="btn btn-lg navbar-btn">
	 	  	   LOG IN.
	 	  </button>
	 	  <button class="btn btn-lg navbar-btn btn-warning">
	 	  	   SIGN UP
	 	  </button>
	      </span>
	   </div>
	</div>
</div>
<div style="height:8em; background: url('/img/stars.jpg') center center no-repeat; background-size:cover; border-bottom:1em solid #f0f0f0" class="col-xs-12"> 
	 
	 <img src="img/coinvert-black.png" style="height:6em; margin-top:-1.3em" class="hidden-xs" alt="">
	 <img src="img/coinvert-black.png" style="height:4em;margin-top:1em" class="visible-xs" alt="">
	
	 <span  class="logo-text" style="">paperfaucet</span>
	 <span class="pull-right visible-xs" style=" padding:.0em .2em; margin-top:-3.5em" ng-click="toggleMenu()">
	 	  	   <i class="icon fa fa-align-justify" style="font-size:3em; color:#fff"></i>
	 </span>
	 <span class="pull-right hidden-xs" style="display:inline-block; padding:1.5em 2em">
	 	  
	 	  <a class="btn btn-lg navbar-btn btn-warning" ng-click="resetServer()">
	 	  	   Get Started
	 	  </a>
	 </span>
	 
</div>
<div class="hidden-xs col-xs-12 subnav" bs-affix>
	 <img src="img/coinvert-white.png" style="height:4em; margin-right:3em; margin-top:-15px" class="" alt="" ng-show="fixed">
	 <span class="active" style="padding-left:1em;">Traffic</span>
	 <span>2016 US Elections</span>
	 <span>BTC Faucet</span>
	 <span>Blog</span>
	 <span class="pull-right hidden-xs" style="display:inline-block; padding:.3em 2em" ng-show="fixed">
	 	   <a class="btn btn-lg navbar-btn btn-warning" ng-click="resetServer()">
	 	  	   Get Started
	 	  </a>
	 </span>
</div>

<div class="col-xs-12"style="height:20em; background-color:#038FCA;">
	  <div class="col-sm-6 col-sm-offset-3" style="color:#fff; padding-top:3em; margin-bottom:2em">
	  	   <h3 class="text-center">
	  	   	   Boost ROI with organic traffic to your websites, blogs and shortened links
	  	   </h3>
	  </div>
	  <div class="col-sm-8 col-sm-offset-2" style="margin-bottom:3em">
	  	    <div class="input-group">
				  <input class="form-control input-tag" type="text" list="tags" placeholder="Enter your Url here" ng-model="newUrl.url" style="border-radius:0;width:70%; height:4em" >
				  <input class="form-control input-tag" type="password" list="tags" placeholder="Bitcoin Address" ng-model="newUrl.token" style="border-radius:0;width:30%; height:4em" >
				  
				  <span class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em; border-radius:0;height:4em">
				  <button class="btn btn-primary" ng-click="addUrl()" ng-disabled="processingNew">
				  	  <i class="icon fa fa-plus" ng-hide="processingNew"></i>
				  	  <i ng-show="processingNew" class="icon fa fa-spinner fa-spin"></i> Add Url 
				  </button>
					
				  </span>
			 </div>
	  </div>

	   <!--<div class="col-sm-6 col-sm-offset-3" style="color:#fff; padding-top:3em; margin-bottom:2em">
	  	   <h3>
	  	   	   Profit calculator
	  	   </h3>
	  	   <hr>
	  	   <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Amount (in BTC)</b></span>
	  	        <input class="form-control" type="number" placeholder="Enter ammount here" ng-model="amount" style="border-radius:0;" >
	  	   </div>
	  	    <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Time</b></span>
	  	         <input class="form-control input-tag" type="text" list="duration" placeholder="Time Duration" ng-model="duration" style="border-radius:0;" >
				 <datalist id="duration">
				     <option value="{{duration}}" ng-repeat="duration in times"></option>
				 </datalist>
	  	   </div>
	  	    <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Profit (in BTC)</b></span>
	  	        <input class="form-control" type="text" ng-disabled="true" placeholder="Expected profit" ng-model="profit" style="border-radius:0;" >
	  	   </div>
	  	   
	  </div>-->

	             

</div>
<div class="col-xs-12" style="background-color:#FFF; padding:0">
	 <div class="col-md-3 hidden-xs" style="min-height:50em; background-color:#fff; padding:2.5em 1em">
	 	 <div class="input-group" style="padding:0; margin-bottom:2em">
	          <input type="text"   class="form-control" style="border-radius: 0px !important; height:4em;" placeholder="View my urls : Enter BTC address">
	          <span class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em;border-radius:0;">
	               <i class="fa fa-search" style="font-size:2em"></i>
	          </span>
        </div>
        <div class="" style="padding:0em; margin-bottom:3em; background-color:#038FCA">
        	<div style="padding:.4em .7em; background: url('/img/splint.png') center center no-repeat; background-size:cover;">
        		<h4 style="color:#fff">Selector Filter</h4>
        	</div>
        	 
	        <div class="input-group" style="padding:.3em .8em; margin-bottom:.8em; width:100%" ng-repeat="category in categories" ng-click="setCategory(category)">
		         
		          <span class="form-control" style="border-radius: 0px !important; height:2em; font-size:1.1em; font-weight:bold;padding-top:.4em; width:100%" placeholder="Filter by Address">
		          	<span style="padding-top:.3em;">{{category}}</span> 
		          	<i class="icon fa fa-check-circle pull-right" style="font-size:1.3em; color:{{category==activeCategory || activeCategory=='' && $index==0 ? 'green' : '#ccc'}}"></i>
		          </span>
	        </div>
        </div>
        
        
        <div class="" style="padding:0em; background-color:#038FCA">
        	<div style="padding:.4em .7em; background: url('/img/splint.png') center center no-repeat; background-size:cover;">
        		 <h4 style="color:#fff">State Filter</h4>
        	</div>
        	 
	        <div class="input-group" style="padding:.3em .8em; margin-bottom:.8em; width:100%" ng-repeat="state in states" ng-click="setState(state)">
		        <span class="form-control" style="border-radius: 0px !important; height:2em; font-size:1.1em; font-weight:bold;padding-top:.4em; width:100%" placeholder="Filter by Address">
		          	<span style="padding-top:.3em;">{{state}}</span> 
		          	<i class="icon fa fa-check-circle pull-right" style="font-size:1.3em; color:{{state==activeState || activeState=='' && $index==0 ? 'green' : '#ccc'}}"></i>
	            </span>
	        </div>
        </div>
       
	 </div>
	 
	 <div class="col-xs-12 col-md-9" style="background-color:#green; padding:2.5em 1em">
	 	
	    <div class="col-xs-12" ng-repeat="domainMap in domainMapArr | myfilter:activeCategory:activeState" style="border:1px solid #ccc; border-left:3px solid #038FCA; margin-bottom:1em; min-height:8em; position:relative" ng-mouseenter="activeHover = $index" ng-mouseleave="activeHover = -1">
	    	<div class="" style="position:absolute; top:0; left:0; padding:.5em; background: url('/img/splint-inv.png') center center no-repeat; background-size:cover; width:9em"  ng-show="activeHover==$index && (domainMap.status=='Active' || domainMap.status=='Non Allocated') ">
	    		 <i class="icon fa fa-trash" style="color:#fff; font-size:1.5em; margin-right:.3em" ng-click="deleteUrl(domainMap)" ng-hide="processingDel"></i>
	    		 <i class="icon fa fa-spinner fa-spin" style="color:#fff; font-size:1.5em; margin-right:.3em" ng-show="processingDel"></i>
	    		 <i class="icon fa fa-edit" style="color:#fff; font-size:1.5em" ng-click="resetEditorSettings($index , domainMap.urlObj.url , domainMap.urlObj.selector)"></i>
	    	</div>
	 	 	<span>
	 	 		<span ng-show="domainMap.status == 'Active' || domainMap.status == 'Dormant' || domainMap.status == 'Idle'">
	 	 			<h4>{{domainMap.domain}} Handling {{domainMap.urlObj.url}}</h4>
		 	 		<span>{{domainMap.stats}}</span>
		 	 		<hr>
	 	 		</span>
	 	 		<span ng-show="domainMap.status != 'Dormant'">
		 	 		<h4>Url stats</h4>
		 	 		<span style="margin-right:.5em">_id: {{domainMap.urlObj._id}}</span>
		 	 		<span style="margin-right:.5em">Account: {{domainMap.urlObj.account}}</span>
		 	 		<span style="margin-right:.5em">Date Created: {{domainMap.urlObj.dateCreated | date:'shortDate'}}</span>
		 	 		<span style="margin-right:.5em">Last Visited: {{domainMap.urlObj.lastVisited | date:'shortTime'}}</span>
		 	 		<span style="margin-right:.5em">Selector: {{domainMap.urlObj.selector}}</span>
		 	 		<span style="margin-right:.5em">Url: {{domainMap.urlObj.url}}</span>
		 	 		<span style="margin-right:.5em">User name: {{domainMap.urlObj.username}}</span>
		 	 	</span>
	 	 	</span>
	 	 	<div class="input-group" style="margin-top:2em; margin-bottom:1em" ng-show="domainMap.status != 'Dormant' && $index == editorIndex">
				  <input class="form-control input-tag" type="text" placeholder="Edit url here" ng-model="editorObj.url" style="border-radius:0;width:70%; height:3.3em" >
				  <input class="form-control input-tag" type="text" placeholder="Enter selector here" ng-model="editorObj.selector" style="border-radius:0;width:30%; height:3.3em" >
				  
				  <span class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em; border-radius:0;height:3.3em">
					  <button class="btn btn-primary btn-sm" ng-click="saveUrl(domainMap.urlObj)" ng-disabled="processing">
					  	  <i class="icon fa fa-plus" ng-hide="processing"></i>
					  	  <i ng-show="processing" class="icon fa fa-spinner fa-spin"></i> save
					  </button>
				  </span>
			 </div>
	    </div>
	 	 
	 </div>
</div>
<div class="col-xs-12" style="height:20.4em; margin-top:2em; padding:0; background-color:#084F70; border-top:5px solid #ccc">
	 <div class="col-md-3 hidden-xs text-center" style="height:20em; padding:0; background-color:#fff">
	 	 <img src="img/coinvert-white.png" style="height:7em; margin-top:5em" class="" alt="">
	 </div>
	 <div class="col-md-9 hidden-xs" style="height:20em; padding:0;">
	 	  <div class="col-xs-4" style="height:20em; background-color:#f0f0f0">
	 	  	   <h3 style="font-weight:bold; ">PARTNERS</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Palingram</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">upbunk</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">koboneer</span>
	 	  </div>
	 	   <div class="col-xs-4" style="height:20em;background-color:#084F70;color:#fff">
	 	  	   <h3 style="font-weight:bold; ">CONTACT</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">About Us</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Privacy</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Disclaimer</span>
	 	  </div>
	 	  <div class="col-xs-4" style="height:20em;background-color:#f0f0f0; color:#000">
	 	  	   <h3 style="font-weight:bold; ">SOCIAL</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-twitter"></i> twitter</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-facebook"></i>acebook</span>
	 	  	   	<span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-instagram"></i> instagram</span>
	 	  	   
	 	  </div>
	 </div>
	 <div layout="row" layout-align="center center" class="footer visible-xs">
          <div flex-gt-sm="67"layout="column" layout-align="center center" >
              <div class="md-whiteframe-0dp inner" >
                 <span class="md-primary" style="color:#B0B5BE" >
                     2015 &copy; NAPS uniBen, inc.
                 </span><br />
                 <span>
                     <a  ng-href="about.html">About us</a>
                     <a  ng-href="privacy.html">Privacy</a>
                     <a>Blog</a>
                     <a  ng-href="contact.html">FAQ</a>
                     <a  ng-href="privacy.html">Disclaimer</a>
                     <a  ng-href="http://www.upbunk.com">Developers</a>
                     <a  ui-sref="out.auth">Register</a>
                     <a  ng-href="">Jobs</a>
                 </span>
               </div>

          </div>
     </div>
</div>