<div class="side col-xs-12" ng-show="menuVisible">
	<div class="right">
	   <span class="close"><i class="icon fa fa-times" ng-click="toggleMenu()"></i></span>
	   <div class="items">
	   	   <span>RESOURCES</span>
	 	   <span>EXCOS</span>
	 	   <span>BLOG</span>
	 	   <span>EVENTS</span>
	 	   <span>GALLERY</span>
	   </div>
	   <div>
	   	   <span class="" style="display:inline-block; padding:1.5em 2em">
	 	  <button class="btn btn-lg navbar-btn">
	 	  	   LOG IN
	 	  </button>
	 	  <button class="btn btn-lg navbar-btn btn-warning">
	 	  	   SIGN UP
	 	  </button>
	      </span>
	   </div>
	</div>
</div>
<div style="height:8em; background: url('/img/stars.jpg') center center no-repeat; background-size:cover; border-bottom:1em solid #f0f0f0" class="col-xs-12"> 
	 
	 <img src="img/coinvert-black.png" style="height:6em; margin-top:-1.3em" class="hidden-xs" alt="">
	 <img src="img/coinvert-black.png" style="height:4em;margin-top:1em" class="visible-xs" alt="">
	
	 <span  class="logo-text" style="">paperfaucet</span>
	 <span class="pull-right visible-xs" style=" padding:.0em .2em; margin-top:-3.5em" ng-click="toggleMenu()">
	 	  	   <i class="icon fa fa-align-justify" style="font-size:3em; color:#fff"></i>
	 </span>
	 <span class="pull-right hidden-xs" style="display:inline-block; padding:1.5em 2em">
	 	  
	 	  <a class="btn btn-lg navbar-btn btn-warning" href="/api/reset">
	 	  	   Reset Server
	 	  </a>
	 </span>
	 
</div>
<div class="hidden-xs col-xs-12 subnav" bs-affix>
	 <img src="img/coinvert-white.png" style="height:4em; margin-right:3em; margin-top:-15px" class="" alt="" ng-show="fixed">
	 <span class="active" style="padding-left:1em;">Traffic</span>
	 <span>2016 US Elections</span>
	 <span>BTC Faucet</span>
	 <span>Blog</span>
	 <span class="pull-right hidden-xs" style="display:inline-block; padding:.3em 2em" ng-show="fixed">
	 	   <a class="btn btn-lg navbar-btn btn-warning" href="/api/reset">
	 	  	   Reset Server
	 	  </a>
	 </span>
</div>

<div class="col-xs-12"style="height:20em; background-color:#038FCA;">
	  <div class="col-sm-6 col-sm-offset-3" style="color:#fff; padding-top:3em; margin-bottom:2em">
	  	   <h3 class="text-center">
	  	   	   Boost ROI with organic traffic to your websites, blogs and shortened links
	  	   </h3>
	  </div>
	  <div class="col-sm-8 col-sm-offset-2" style="margin-bottom:3em">
	  	    <div class="input-group">
				  <input class="form-control input-tag" type="text" list="tags" placeholder="Enter your Url here" ng-model="newUrl.url" style="border-radius:0;width:70%; height:4em" >
				  <input class="form-control input-tag" type="text" list="tags" placeholder="Bitcoin Address" ng-model="newUrl.token" style="border-radius:0;width:30%; height:4em" >
				  
				  <span class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em; border-radius:0;height:4em">
				  <button class="btn btn-primary" ng-click="addUrl()" ng-disabled="processingNew">
				  	  <i class="icon fa fa-plus" ng-hide="processingNew"></i>
				  	  <i ng-show="processingNew" class="icon fa fa-spinner fa-spin"></i> Add Url 
				  </button>
					
				  </span>
			 </div>
	  </div>

	   <!--<div class="col-sm-6 col-sm-offset-3" style="color:#fff; padding-top:3em; margin-bottom:2em">
	  	   <h3>
	  	   	   Profit calculator
	  	   </h3>
	  	   <hr>
	  	   <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Amount (in BTC)</b></span>
	  	        <input class="form-control" type="number" placeholder="Enter ammount here" ng-model="amount" style="border-radius:0;" >
	  	   </div>
	  	    <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Time</b></span>
	  	         <input class="form-control input-tag" type="text" list="duration" placeholder="Time Duration" ng-model="duration" style="border-radius:0;" >
				 <datalist id="duration">
				     <option value="{{duration}}" ng-repeat="duration in times"></option>
				 </datalist>
	  	   </div>
	  	    <div class="col-xs-4" style="padding-left:0">
	  	   	    <span><b>Profit (in BTC)</b></span>
	  	        <input class="form-control" type="text" ng-disabled="true" placeholder="Expected profit" ng-model="profit" style="border-radius:0;" >
	  	   </div>
	  	   
	  </div>-->

	             

</div>
<div class="col-xs-12" style="background-color:#FFF; padding:0">
	 <div class="col-md-3 hidden-xs" style="min-height:50em; background-color:#fff; padding:2.5em 1em">
	 	 <div class="input-group" style="padding:0; margin-bottom:2em">
	          <input type="text"   class="form-control" style="border-radius: 0px !important; height:4em;" placeholder="Sort by Url">
	          <span class="input-group-addon" style="background-color:#fff; padding-left:1em; padding-right:1em;border-radius:0;">
	               <i class="fa fa-search" style="font-size:2em"></i>
	          </span>
        </div>
        <div class="input-group" style="padding:0; margin-bottom:.8em; width:100%" ng-repeat="category in categories" ng-click="setCategory(category)">
	         
	          <span class="form-control" style="border-radius: 0px !important; height:3em; font-size:1.3em; font-weight:bold;padding-top:.7em; width:100%" placeholder="Filter by Address">
	          	<span style="padding-top:.3em;">{{category}}</span> 
	          	<i class="icon fa fa-check-circle pull-right" style="font-size:1.6em; color:{{category==activeCategory || activeCategory=='' && $index==0 ? 'green' : '#ccc'}}"></i>
	          </span>
        </div>
       
	 </div>
	 
	 <div class="col-xs-12 col-md-9 alert alert-info" style="margin-top:2.5em; margin-bottom:1em; border-radius:0">
	 	  {{statsObj}}
	 </div>
	 <div class="col-xs-12 col-md-9" style="background-color:#green; padding:0; padding-top:.5em">
	 	 <table class="table table-striped">
	 	 	  <t-head>
	 	 	      <tr>
	 	 	      	   <th>Url</th>
	 	 	      	   <th>Domain</th>
	 	 	      	   <th>Service</th>
	 	 	      	   <th>Account</th>
	 	 	      	   <th>Username</th>
	 	 	      	   <th>Status</th>
	 	 	      	   <th>Action</th>
	 	 	      </tr>
	 	 	 </t-head>
	 	 	 <t-body>
	 	 	  
	 	 	    <tr ng-repeat="url in Urls | filter:{service:activeCategory} | orderBy:'-date'" >
	 	 	    	   <td ng-hide="editorSettings.status && $index==editorSettings.index">{{url.url}}</td>
	 	 	    	   <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	    	  	  <input type="text" class="form-control" style="border-radius: 0px !important; height:1.9em;" placeholder="Url" ng-model="url.url">
	 	 	    	   </td>
	 	 	      	   <td ng-hide="editorSettings.status && $index==editorSettings.index">{{url.domain}}</td>
	 	 	      	    <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	    	  	  <input type="text" class="form-control" style="border-radius: 0px !important; height:1.9em;" placeholder="Url" ng-model="url.domain">
	 	 	    	   </td>
	 	 	      	   <td ng-hide="editorSettings.status && $index==editorSettings.index">{{url.service}}</td>
	 	 	      	   <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	    	  	 <input type="text" class="form-control" style="border-radius: 0px !important; height:1.9em;" placeholder="Url" ng-model="url.service">
	 	 	    	   </td>
	 	 	      	   <td ng-hide="editorSettings.status && $index==editorSettings.index">{{url.account}}</td>
	 	 	      	    <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	    	  	  <input type="text" class="form-control" style="border-radius: 0px !important; height:1.9em;" placeholder="Url" ng-model="url.account">
	 	 	    	   </td>
	 	 	      	   <td ng-hide="editorSettings.status && $index==editorSettings.index">{{url.username}}</td>
	 	 	      	    <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	    	  	 <input type="text" class="form-control" style="border-radius: 0px !important; height:1.9em;" placeholder="Url" ng-model="url.username">
	 	 	    	   </td>
	 	 	      	   <td>
		 	 	      	   	<div style="margin-left:1em">
		 	 	      	   		<i ng-show="url.status=='active'" style="color:green" class="icon fa fa-circle"></i>
		 	 	      	   	    <i ng-show="url.status=='inactive'" style="color:red" class="icon fa fa-circle"></i>
		 	 	      	   	</div>
	 	 	      	   </td>
	 	 	      	    
	 	 	      	   <td ng-hide="editorSettings.status && $index==editorSettings.index">
	 	 	      	   	   <div class="btn-group">
	 	 	      	   	   	    <button class="btn btn-danger btn-xs" ng-click="deleteUrl(url)">
	 	 	      	   	   	    	<span ng-hide="processingDel && $index==editorSettings.index"><i class="icon fa fa-times"></i></span>
	 	 	      	   	   	    	<i ng-show="processingDel && $index==editorSettings.index" class="icon fa fa-spinner fa-spin"></i>
	 	 	      	   	   	    </button>
	 	 	      	   	   	    <button class="btn btn-default btn-xs" ng-click="resetEditorSettings(true , $index)"><i class="icon fa fa-edit"></i></button>
	 	 	      	   	   </div>
	 	 	      	   </td>
	 	 	      	   <td ng-show="editorSettings.status && $index==editorSettings.index">
	 	 	      	   	   <div class="btn-group" style="margin-top:.22em">
	 	 	      	   	   	    <button ng-hide="processing" class="btn btn-success btn-xs" ng-click="saveUrl(url , $index)">save</button>
	 	 	      	   	   	    <i ng-show="processing" class="icon fa fa-spinner fa-spin"></i>
	 	 	      	   	   </div>
	 	 	      	   </td>
	 	 	    </tr>
	 	 	</t-body>
	 	 </table>
	 	 
	 </div>
</div>
<div class="col-xs-12" style="height:20.4em; margin-top:2em; padding:0; background-color:#084F70; border-top:5px solid #ccc">
	 <div class="col-md-3 hidden-xs text-center" style="height:20em; padding:0; background-color:#fff">
	 	 <img src="img/coinvert-white.png" style="height:7em; margin-top:5em" class="" alt="">
	 </div>
	 <div class="col-md-9 hidden-xs" style="height:20em; padding:0;">
	 	  <div class="col-xs-4" style="height:20em; background-color:#f0f0f0">
	 	  	   <h3 style="font-weight:bold; ">PARTNERS</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Palingram</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">upbunk</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">koboneer</span>
	 	  </div>
	 	   <div class="col-xs-4" style="height:20em;background-color:#084F70;color:#fff">
	 	  	   <h3 style="font-weight:bold; ">CONTACT</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">About Us</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Privacy</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">Disclaimer</span>
	 	  </div>
	 	  <div class="col-xs-4" style="height:20em;background-color:#f0f0f0; color:#000">
	 	  	   <h3 style="font-weight:bold; ">SOCIAL</h3>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-twitter"></i> twitter</span>
	 	  	   <span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-facebook"></i>acebook</span>
	 	  	   	<span style="display:inline-block; width:100%; font-size:1.3em; margin-bottom:.7em">
	 	  	   	<i class="icon fa fa-instagram"></i> instagram</span>
	 	  	   
	 	  </div>
	 </div>
	 <div layout="row" layout-align="center center" class="footer visible-xs">
          <div flex-gt-sm="67"layout="column" layout-align="center center" >
              <div class="md-whiteframe-0dp inner" >
                 <span class="md-primary" style="color:#B0B5BE" >
                     2015 &copy; NAPS uniBen, inc.
                 </span><br />
                 <span>
                     <a  ng-href="about.html">About us</a>
                     <a  ng-href="privacy.html">Privacy</a>
                     <a>Blog</a>
                     <a  ng-href="contact.html">FAQ</a>
                     <a  ng-href="privacy.html">Disclaimer</a>
                     <a  ng-href="http://www.upbunk.com">Developers</a>
                     <a  ui-sref="out.auth">Register</a>
                     <a  ng-href="">Jobs</a>
                 </span>
               </div>

          </div>
     </div>
</div>